{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}







<div class="content">
    <div class="notebook-page">
        <textarea id="msg"></textarea>
      <div class="text-edit">{{letter.title}}<br/><br/>{{letter.body}}<br/><br/><br/><br/>조회수 : {{letter.letter_hit}} <br/>{{letter.pub_date}}</div>
    </div>
  </div>

  <style>
  @import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
  body {
    background: #111;
  
  }
  .text-edit{
    font-family: 'Nanum Pen Script', cursive;
      font-size: 28px;
    height: 100px;
    resize: none;
    line-height: 1.75;
    visibility:hidden;
    }
  
  .content {
    margin: 3em auto;
    max-width: 500px;
  }
  
  .notebook-page {
    padding: 70px 30px 20px 55px;
    background-color: #fff;
    background-image: linear-gradient(
      rgba(33, 150, 243, 0.27) 0.05em,
      transparent 0.05em
    );
    background-size: 100% 2em;
    position: absolute;
    top:10%;
    left:60%;
  
    min-width:360px;
    min-height: 300px;
    box-shadow: 0 9px 20px rgba(0, 0, 0, 0.1);
    &:after {
      content: "";
      position: absolute;
      left: 10%;
      top: 0;
      width: 1px;
      height: 100%;
      background: #ef5350;
    }
    .text-edit {
      display: none;
    }
  }
  
  textarea#msg {

    background: none;
    border: none;
    color: #333;
    font-size: 30px;
    min-height: 600px;
    resize: none;
    line-height: 1;
    font-family: 'Nanum Pen Script', cursive;
  }
  
  
  aside.context {
    color: #fff;
    text-align: center;
    a {
      color: #fff;
      text-decoration: none;
      color: #111;
      padding: 5px 0;
      border-bottom: 1px dashed;
      &:visited {
        color: #fff;
      }
    }
    .explanation {
      max-width: 700px;
      margin: 3em auto;
    }
  }
  
  footer {
    text-align: center;
    margin: 5em auto;
    a {
      text-decoration: none;
      display: inline-block;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background: transparent;
          border: 1px dashed #fff;
      color: #fff;
      margin: 5px;
      &:hover {
        background: rgba(0,0,0,0.1);
      }
      .icons {
        margin-top: 12px;
        display: inline-block;
        font-size: 20px;
      }
    }
  }
  
  </style>


  <script>
  var showText = function(target, message, index, interval) {
    if (index < message.length) {
      $(target).append(message[index++]);
      setTimeout(function() {
        showText(target, message, index, interval);
      }, interval);
    }
  };
  
  $(document).ready(function() {
    setTimeout(function() {
      var text = $(".text-edit")
        .html()
        .replace(/<br *\/?>/gi, "\n");
      showText("#msg", text, 0, 100);
    }, 2000);
  });
  </script>
  
  <style>
  .edit {
    position: relative;
    width: 5%;
    height: 2rem;
    margin: 2rem;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
    border-radius: 3rem;
    cursor: pointer;
    overflow: hidden;
    transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
  }
  .remove {
    position: relative;
    width: 5%;
    height: 2rem;
      margin: 2rem;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
    border-radius: 3rem;
    cursor: pointer;
    overflow: hidden;
    transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
  }</style>
    
 
{% if mine is True %}
<a href="{% url 'letterdelete' letter.id %}" onclick="return confirm('정말 삭제하시겠습니까?')">삭제하기</a>
{% endif %}

<br/>
<br/>
<br/>
{% if mine is False %}
    <a href="{% url 'commentcreate' letter.id %}">답장하기</a>
    <form method='POST'>
        {% csrf_token %}
        {{form}}
        <button type='submit'>답장 보내기</button>
    </form>
    <!-- <form method='GET'>
        <div style = "margin: 10; ">
                <input  name="emoji" value="angry" type="checkbox"><img class="btn-img" width="20pt" height="20pt" src="{% static 'angry.png'%}"><a href=""></a></input>
                <input  name="emoji" value="embarass" type="checkbox"><img class="btn-img" width="20pt" height="20pt" src="{% static 'embarass.png'%}"></input>
                <input  name="emoji" value="funny" type="checkbox"><img class="btn-img" width="20pt" height="20pt" src="{% static 'funny.png'%}"></input>
                <input  name="emoji" value="happy" type="checkbox"><img class="btn-img" width="20pt" height="20pt" src="{% static 'happy.png'%}"></input>
                <br>
                <input  name="emoji" value="love" type="checkbox"><img class="btn-img" width="20pt" height="20pt" src="{% static 'love.png'%}"></input>
                <input  name="emoji" value="panic" type="checkbox"><img class="btn-img" width="20pt" height="20pt" src="{% static 'panic.png'%}"></input>
                <input  name="emoji" value="sad" type="checkbox"><img class="btn-img" width="20pt" height="20pt" src="{% static 'sad.png'%}"></input>
                <input  name="emoji" value="smile" type="checkbox"><img class="btn-img" width="20pt" height="20pt" src="{% static 'smile.png'%}"></input>
        </div>
        <input type="submit" value="Submit">
    </form> -->

{% endif %}

<br/>
<br/>
{% if mine is True %}
    <h4>답장 목록</h4>
        {% for comment in letter.comment_set.all %}
            {{ comment.content }}<br/>
        {% endfor %}
{% endif %}


{% endblock %}