{% extends 'base.html' %}

{% block content %}
<html>
<head>
<title>:: JAVASCRIPT 지오로케이션 ::</title>
<script type="text/JavaScript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {

        // Geolocation 객체를 사용
        if(navigator.geolocation) {
            
            navigator.geolocation.getCurrentPosition(function(position) {
                
                // 위치를 가져오는데 성공할 경우
                // jQuery.each(position.coords, function(key, item) {
                //     jQuery("<h3></h3>").html("● " + key + " : " + item).appendTo("body");
                // });
                var latitude = position.coords.latitude;
                var longitude = position.coords.longitude;
                var appid = "172d7fd711ea39ffb98f276cc8692a50";
                jQuery("<h3></h3>").html("● latitude : " + latitude).appendTo("body");
                jQuery("<h3></h3>").html("● longitude : " + longitude).appendTo("body");

                var apiURI = "http://api.openweathermap.org/data/2.5/weather?lat="+latitude+"&lon="+longitude+"&lang=kr"+"&APPID="+appid;
                $.ajax({
                    url: apiURI,
                    dataType: "json",
                    type: "GET",
                    async: "false",
                    success: function(resp) {
                        jQuery("<h3></h3>").html("● 현재온도 : " + (resp.main.temp- 273.15)).appendTo("body");
                        jQuery("<h3></h3>").html("● 현재습도 : " + resp.main.humidity).appendTo("body");
                        jQuery("<h3></h3>").html("● 날씨 ID : " + resp.weather[0].id).appendTo("body");
                        jQuery("<h3></h3>").html("● 날씨 : " + resp.weather[0].main).appendTo("body");
                        jQuery("<h3></h3>").html("● 상세날씨 : " + resp.weather[0].description).appendTo("body");
                        jQuery("<h3></h3>").html("● 날씨 이미지 : " + resp.weather[0].icon).appendTo("body");
                        jQuery("<h3></h3>").html("● 바람 : " + resp.wind.speed).appendTo("body");
                        jQuery("<h3></h3>").html("● 나라 : " + resp.sys.country).appendTo("body");
                        jQuery("<h3></h3>").html("● 도시이름 : " + resp.name).appendTo("body");
                        jQuery("<h3></h3>").html("● 구름 : " + (resp.clouds.all) +"%").appendTo("body");

                        var weatherResult = "";
                        var icon = resp.weather[0].icon;
                        switch(icon) {
                            case "01d": weatherResult = "clear day";
                            case "01n": weatherResult = "clear night";
                            case "02d": weatherResult = "clear day";
                            case "02n": weatherResult = "clear night";
                            case "03d": weatherResult = "cloudy day";
                            case "03n": weatherResult = "cloudy night";
                            case "04d": weatherResult = "cloudy day";
                            case "04n": weatherResult = "cloudy night";
                            case "09d": weatherResult = "rainy day";
                            case "09n": weatherResult = "rainy night";
                            case "10d": weatherResult = "rainy day";
                            case "10n": weatherResult = "rainy night";
                            case "11d": weatherResult = "rainy day";
                            case "11n": weatherResult = "rainy night";
                            case "13d": weatherResult = "snowy day";
                            case "13n": weatherResult = "snowy night";
                            case "50d": weatherResult = "cloudy day";
                            case "50n": weatherResult = "cloudy night";
                        }

                        jQuery("<h3></h3>").html("● 보여줄 날씨 : " + weatherResult).appendTo("body");

                    }
                })
            }, function(error) {
                
                // 위치를 가져오는데 실패한 경우
                consol.log(error.message);
            });
        } else {
            consol.log("Geolocation을 지원하지 않는 브라우저 입니다.");
        }
    });
</script>
</head>
<body>



<h1>Hello World!</h1>
<a  href="{% url 'write' %}">글 쓰기</a><br>
<a  href="{% url 'showlist' %}">내 글들 보기</a><br>

</body>

</html>
{% endblock %}




