{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="content">
    {% for letter in letters.all %}
    <a href="{% url 'detail' letter.id %}">
        <div class="plane-container" id="plane-container{{letter.id}}"><div class="plane"></div></div>
    </a>
    {% endfor %}
</div>

<nav>
    <a class="nav-item nav-link" href="{% url 'home' %}">홈</a>
      <a class="dropdown-item" href="javascript:{document.getElementById('logout').submit()}">로그아웃</a>

    <a class="write" href="{% url 'lettercreate' %}">글 쓰기</a>
  <div id="indicator"></div>
      <form id="logout" method="POST" action="{% url 'logout' %}">
    {% csrf_token %} <input type="hidden" />
  </form>
</nav>
<style>html, body
{
    height: 100%;
}

body
{
    margin: 0;
    background-color: #292929;
    overflow: hidden;
}

nav
{
    position: absolute;
    top: 5%;
    right: 0;
    left: 25%;
    width: 600px;
    display: table;
    margin: 0 auto;
    transform: translateY(-50%);
}

nav a
{
    position: relative;
    width: 20%;
    display: table-cell;
    text-align: center;
    color: #949494;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.2s ease color;
}

nav a:before, nav a:after
{
    content: "";
    position: absolute;
    border-radius: 25%;
    transform: scale(0);
    transition: 0.2s ease transform;
}

nav a:before
{
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
}

nav a:after
{
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px
}

nav a:nth-child(1):before
{
    background-color: yellow;
}

nav a:nth-child(1):after
{
    background-color: red;
}

nav a:nth-child(2):before
{
    background-color: #00e2ff;
}

nav a:nth-child(2):after
{
    background-color: #89ff00;
}

nav a:nth-child(3):before
{
    background-color: purple;
}

nav a:nth-child(3):after
{
    background-color: palevioletred;
}

#indicator
{
    position: absolute;
    left: 5%;
    bottom: 0;
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.2s ease left;
}

nav a:hover
{
    color: #fff;
}

nav a:hover:before, nav a:hover:after
{
    transform: scale(1);
}

nav a:nth-child(1):hover ~ #indicator
{
    background: linear-gradient(130deg, yellow, red);
}

nav a:nth-child(2):hover ~ #indicator
{
    left: 23%;
    background: linear-gradient(130deg, #00e2ff, #89ff00);
}

nav a:nth-child(3):hover ~ #indicator
{
    left: 45%;
    background: linear-gradient(130deg, purple, palevioletred);
}

</style>

<script>
    var planes = document.getElementsByClassName("plane-container");

    for(var i=0;i<planes.length;i++) {
        var plane = planes.item(i);
        plane.style.top = Math.round(Math.random()*90)+"%";
        plane.style.left = (Math.round(Math.random()*20)-25)+"%";

        if(Math.round(Math.random()*100) >= 50) {
            plane.style.animationName = "fly-right-one";
        } else {
            plane.style.animationName = "fly-right-two";
        }
        plane.style.animationDuration = (Math.random()*5+20)+"s";
        plane.style.animationDelay = (Math.random()*7)+"s";
    }
</script>

<style>
  @import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
  body {
    background: #111;
  
  }
  .text-edit{
    font-family: 'Nanum Pen Script', cursive;
      font-size: 28px;
    min-height: 300px;
    resize: none;
    line-height: 1.75;
    }
  
  .content {
    margin: 3em auto;
    max-width: 500px;
  }

  .plane {
    background-image: url("{% static 'send.png' %}");
    background-size: auto 100%;
    width: 100px;
    height: 100px;
    position: absolute;	
  }

.plane-container {
	position: absolute;
	top: 20%;
	left: -10%;
	transform: rotate(30deg);
	will-change: transform;
	
	animation-name: fly-right-one;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

    animation-duration: 15s;
	animation-delay: 0;
}

@keyframes fly-right-one {
	
	0% {
		transform: scale(0.3) translateX(-10vw) rotate(30deg);
	}
	10% {
		transform: translateY(4vh) translateX(10vw) scale(0.4) rotate(40deg);
	}
	20% {
		transform: translateY(0vh) translateX(30vw) scale(0.5) rotate(40deg);
	}
	30% {
		transform: translateY(8vh) translateX(50vw) scale(0.6) rotate(20deg);
	}
	40% {
		transform: translateY(4vh) translateX(70vw) scale(0.6) rotate(30deg);
	}
	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.4) rotate(30deg);
	}
	60% {
		transform: translateY(4vh) translateX(110vw) scale(0.6) rotate(40deg);
	}
    70% {
		transform: translateY(8vh) translateX(130vw) scale(0.5) rotate(40deg);
	}
    80% {
		transform: translateY(0vh) translateX(150vw) scale(0.6) rotate(20deg);
	}
	90% {
		transform: translateY(4vh) translateX(160vw) scale(0.7) rotate(20deg);
	}
    100% {
		transform: translateY(0vh) translateX(170vw) scale(0.6) rotate(30deg);
	}
	
}

@keyframes fly-right-two {
	
	0% {
		transform: translateY(-4vh) translateX(-10vw) scale(0.5) rotate(30deg);
	}
	10% {
		transform: translateY(0vh) translateX(5vw) scale(0.4) rotate(30deg);
	}
	20% {
		transform: translateY(-8vh) translateX(20vw) scale(0.6) rotate(20deg);
	}
	30% {
		transform: translateY(2vh) translateX(35vw) scale(0.45) rotate(20deg);
	}
	40% {
		transform: translateY(-5vh) translateX(50vw) scale(0.5) rotate(40deg);
	}
	50% {
		transform: translateY(0vh) translateX(65vw) scale(0.45) rotate(30deg);
	}
    60% {
		transform: translateY(-4vh) translateX(80vw) scale(0.5) rotate(30deg);
	}
    70% {
		transform: translateY(-6vh) translateX(95vw) scale(0.45) rotate(40deg);
	}
    80% {
		transform: translateY(0vh) translateX(110vw) scale(0.4) rotate(40deg);
	}
    90% {
		transform: translateY(2vh) translateX(125vw) scale(0.45) rotate(40deg);
	}
	100% {
		transform: translateY(0vh) translateX(140vw) scale(0.45) rotate(30deg);
	}
	
}
</style>

{% endblock %}