{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}





{% if user.is_authenticated %}
         <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">환영합니다. {{ user.username }} 님!</a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           <a class="dropdown-item" href="javascript:{document.getElementById('logout').submit()}">로그아웃</a>
           <form id="logout" method="POST" action="{% url 'logout' %}">
             {% csrf_token %} <input type="hidden" />
           </form>
         </div>
{% else %}
     <a class="nav-item nav-link" href="{% url 'signup' %}">회원가입</a>
     <a class="nav-item nav-link" href="{% url 'login' %}">로그인</a>
{% endif %}


{% block content %}
{% endblock %}